accessible-output2==0.17
asyncio==3.4.3
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
Cython==0.29.34
idna==3.4
libloader==0.21
numpy==1.24.3
pandas==2.0.2
platform-utils==1.5.1
pycparser==2.21
pygame==2.4.0
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
requests==2.31.0
scipy==1.10.1
simpleaudio==1.0.4
six==1.16.0
tzdata==2023.3
urllib3==2.0.3
winpaths==0.2
accessible-output2==0.17
asyncio==3.4.3
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
Cython==0.29.34
idna==3.4
libloader==0.21
numpy==1.24.3
pandas==2.0.2
platform-utils==1.5.1
pycparser==2.21
pygame==2.4.0
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
requests==2.31.0
scipy==1.10.1
simpleaudio==1.0.4
six==1.16.0
tzdata==2023.3
urllib3==2.0.3
winpaths==0.2
